

.link {
  float: left;
  width: 10%;
  height: 100vh;
  transition: width 0.5s;
  background-color: var(--color3);

}
.link:hover{
  width: 20%;

}
.link > a {
  margin-bottom: 35px;
  width: 100%;
  display: block;
  text-decoration: none;
  color: var(--color2);
  border-top: 3px solid var(--color4);
  border-bottom: 3px solid var(--color4);
    text-align: center;
}
a span{
  display: none;
}
a:hover {
  content:'het werkt';
}
.item a p.new-label span:after{
  position: relative;
  content: 'NEW'
}
.link:hover a.new-label span:after {
  content: 'ADD';
}
